{% extends 'base.html.twig' %}

{% block title %}Trophé Initiative Durable{% endblock %}

{% block body %}
    <section class="area section-gap container  ">

        <div class="row title text-center">
            <img src="{{ asset('build/images/tid_logo.png') }}" id="tid" class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3"><br><br>
        </div>
            <div class="row justify-content-center">
                <button class="btn btn-outline-secondary col-md-12" type="button" data-toggle="collapse" data-target="#introduction" aria-expanded="false" aria-controls="introduction">Introduction</button>
                    <div class="col">
                        <div class="collapse" id="introduction">
                            <div class="card card-body">
                                Le développement durable est un concept qui appelle les sociétés humaines à
                                vivre en répondant à leurs propres besoins sans compromettre la capacité des
                                générations futures à répondre aux leurs. Si auparavant, leurs préoccupations
                                étaient portées essentiellement sur leurs bénéfices individuels, à l’heure actuelle,
                                elles ne peuvent fermer les yeux sur des enjeux pertinents pouvant avoir un impact
                                sur leur existence. Ces nouveaux enjeux, relevant notamment du concept de développement
                                durable, font qu’aujourd’hui, les sociétés humaines du 21è siècle sont amenées à porter
                                un regard attentif sur d'autres responsabilités.
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-outline-secondary col-md-12" type="button" data-toggle="collapse" data-target="#objectif" aria-expanded="false" aria-controls="objectif">Objectif</button>
                <div class="col">
                    <div class="collapse multi-collapse" id="objectif">
                        <div class="card card-body">
                            <p>« Trophée Initiatives Durables » organisé par ADVITRUST Consulting et Women In Tech Madagascar
                                est la 1ère édition du concours de la meilleure initiative durable qui vise à promouvoir la RSE
                                et encourager les projets ayant décidé d’adopter une démarche de développement durable dans le
                                cadre du développement socio-économique de Madagascar.
                            </p>
                            <p>Cet événement permettra entre autres, à ces organismes, de saisir l’opportunité de mieux
                                se faire connaître du grand public, et de se démarquer des autres, à travers un concours
                                qui sera organisé à cette occasion et qui portera sur le meilleur projet présentant des
                                impacts réels en matière de développement durable. Tous types d’organismes (Organisations
                                Internationales, Entreprises, Syndicats, ONG, Associations, etc.),  et en particulier les
                                Entreprises, quelle que soit leur taille (TPE, PME, Grande Entreprise, Groupe, etc.), sont
                                invités à participer à ce concours. Les participants seront ainsi mis en avant et seront en
                                outre évalués suivant les valeurs d’ADVITRUST: Éthique – Excellence – Transparence – Intégrité.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-outline-secondary col-md-12" type="button" data-toggle="collapse" data-target="#critere" aria-expanded="false" aria-controls="critere">Critères d'éligibilité</button>
                <div class="col">
                    <div class="collapse multi-collapse" id="critere">
                        <div class="card card-body">
                            <p>Tous types d’organisme (Organisations Internationales, Syndicats, ONG, Associations, etc.) et en particulier les Entreprises, quelle que soit leur taille (TPE, PME, Grande Entreprise, Groupe, etc.), peuvent se porter candidats au concours. Cependant, des critères d’éligibilité sont fixés comme suit : <br> <br>
                                <ul style="list-style-type: square; ">
                                    <li>L’organisme doit avoir été créé légalement ;</li>
                                    <li>L’organisme doit être porteur du projet proposé ;</li>
                                    <li>Le concours prendra en compte un projet en particulier proposé par l’organisme
                                        mais ne portera pas sur l’organisme lui-même ni sur le cœur de métier de celui-ci (ou activité principale).</li>
                                    <li>Le projet doit avoir au minimum une ancienneté de six (6) mois (c’est-à-dire mis
                                        en œuvre au moins avant le mois de Septembre 2018) ;</li>
                                    <li>Le projet doit avoir démontré des impacts mesurables durant l’année 2018 ;</li>
                                </ul>
                            </p>
                            <p>Note : Un organisme n’a le droit de déposer qu’un (1) seul projet. Dans le cas
                                contraire, les organisateurs se réserveront le droit de disqualifier le candidat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                    <button class="btn btn-outline-secondary col-md-12" type="button" data-toggle="collapse" data-target="#depot" aria-expanded="false" aria-controls="depot">Dépot de candidature</button>
                    <div class="col">
                        <div class="collapse multi-collapse" id="depot">
                            <div class="card card-body">
                                <p>Le candidats peuvent déposer leur candidature à partir du 25 février 2019 jusqu'au 31 mars 2019 à minuit.

                                </p>
                                <p>Le formulaire de candidature est à télécharger dans la section suivante et à retourner,
                                    une fois complété, par email à l'adresse: <strong style="color:blue;"><a href="mailto:tid@advitrust-consulting.mg">tid@advitrust-consulting.mg</a> </strong></p>
                                    Nombre de jours restant: Candidature fermé
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row justify-content-center">
                    <button class="btn btn-outline-secondary col-md-12" type="button" data-toggle="collapse" data-target="#fichier" aria-expanded="false" aria-controls="fichier">Fichiers à téléchargés</button>
                    <div class="col">
                        <div class="collapse multi-collapse" id="fichier">
                            <div class="card card-body">
                                <a href="{{ path('rules') }}"><span class="lnr lnr-download" style="font-size:25px;"></span></a> &nbsp; Règlements <br>
                                <a href="{{ path('form') }}"><span class="lnr lnr-download" style="font-size:25px;"> </span></a>Formulaire de candidature
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </section>
{% endblock %}
