{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <section class="services-area section-gap" style="background-image: none!important;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content  col-lg-7">
                    <div class="title text-center">
                        <h1 class="mb-10">Nos Services</h1>
                        <p>Nous vous offrons toutes les prestations nécessaires pour mettre votre business sur orbite </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 justify">
                    <div class="single-services">
                        <span class="lnr lnr-magic-wand"></span>
                        <a href="#"><h4>Événementiel</h4></a>
                        <p class="justify">
                            Besoin de simples conseils ou d’une organisation de A à Z de vos événements?
                            ADVITRUST s’occupe de tout pour mener à bien et jusqu’au bout tous vos projets événementiels.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services">
                        <span class="lnr lnr-laptop-phone"></span>
                        <a href="#"><h4>Marketing Digital</h4></a>
                        <p class="justify">
                            Dans cette ère de digitalisation, disposer d’outils numériques au service de la
                            communication devient incontournable. Ainsi nous mettons à la portée de nos
                            clients des offres purement numériques pour qu’ils puissent se mettre en
                            avant sur le web que ce soit pour le branding, la promotion et plus encore.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services">
                        <span class="lnr lnr-pie-chart"></span>
                        <a href="#"><h4>Audit de communication</h4></a>
                        <p class="justify">
                            Pour optimiser la performance de votre entreprise, nous vous proposons de faire
                            un audit de votre communication pour en tirer le meilleur de cette dernière

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services">
                        <span class="lnr lnr-bubble"></span>
                        <a href="#"><h4>Conseils en communication</h4></a>
                        <p class="justify">
                            Véritable levier de développement pour un organisme, la communication doit
                            permettre une meilleure organisation en interne et une valorisation de
                            celui-ci en externe. C’est dans ce sens que nous vous proposons les meilleurs
                            conseils et stratégies pour booster votre communication et ainsi atteindre vos objectifs.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services">
                        <span class="lnr lnr-heart-pulse"></span>
                        <a href="#"><h4>Résponsabilité Sociétale des Entreprises</h4></a>
                        <p class="justify">
                            Pour mieux appréhender vos activités en RSE et garantir de véritables impacts
                            découlant de celles-ci, nous vous proposons de vous conseiller et de vous
                            accompagner dans tous vos projets en faveur de la RSE.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <span class="lnr lnr-rocket"></span>
                        <a href="#"><h4>Externalisation</h4></a>
                        <p class="justify">
                            L’externalisation se démarque par un modèle souple et efficace qui vous assurera
                            d’être entouré de meilleures compétences tout en maîtrisant vos coûts.
                            Nous vous proposons d'externaliser vos têtes pensantes en communication et en RSE.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
