
@import "~bootstrap/dist/css/bootstrap.css";
@import "font-awesome.min.css";
@import "linearicons.css";


.hidden{
    display: none!important;
}

h1,h3{
    font-weight: bolder;
}

#mobile-nav-toggle,#close-menu{
    display: none;
}

.fixed-scroll{
    transition: all 0.5s;
    box-shadow: -21.213px 21px 30px 0 rgba(158, 158, 158, 0.3);
    background: #ffffff;
}

.fixed{
    transition: all 0.5s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border:none!important;
}

#menu-navbar{
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    transition: top 1s;
}

.navbar-header nav ul li{
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    color: black;
}

.navbar-header nav ul li a{
    font-weight: 600;
    font-size: 14px;
    font-family: Montserrat-Bold, sans-serif;
    outline: none;
    color: #222;
}

.navbar-header nav li a:hover{
    color: #4dbdc3;
}

a:hover{
    text-decoration: none;
}

#adv_logo_1, #logo-side{
    display: none;
}

#adv_logo{
    margin-left: -20px;
}

/*  ================================== */
/*  Body Styles
/*  ================================== */
#content_body{
    min-height: 500px;
}
.justify{
    text-align: justify;
}

p{
    font-weight: lighter;
}

.img-fluid-responsive{
    display: none;
}

.section-gap{
    padding-top: 100px;
}

/*accueil section*/
#accueil{
    min-height: 500px;
}

.intro_1{
    position: absolute;
    z-index: 1;
    display: none;
    top: 250px;
}

.intro{
    padding-top: 125px;
    text-align: center;
}

.boost{
    width:100%;
}

#rcorner{
    border-radius: 50px;
    background: #1fc1c1;
    color: #fff;
    width: 150px;
    height: 40px;
    border: none;
}

.banner-left{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url("../img/banner-l.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 500px;
}

.banner-right{
    text-align: center;
}

/*end accueil section*/

/*About Section */
#home-about-right, #history-about-left{
    background-image: url("../img/about-r-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
/* end About Section */


/*Services Styles*/
.services-area{
    padding-bottom: 50px;
}

.single-services{
    text-align: center;
    padding-top: 50px;
}

.single-services a:hover{
    cursor:default;
    color:#007bff;
}

.single-services .lnr {
    font-size: 35px;
    color: #222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/*end Services Styles*/

/* produits styles*/
.produit_list{
    text-align: left;
}

.produit_list li{
    list-style: none;
    padding-top: 10px;
}

.check{
    width: 40px;
}

.note{
    color: #007bff;
    font-style: italic;
}
/*end produits styles*/

/*--------- start brand Area -------------*/
.brands-area {
    padding-bottom: 50px;
    background-image: url("../img/partners-bg.png");
}

.partner{
    padding-top: 50px;
    color: #FFFFFF;
    text-transform: uppercase;
}
/*--------- end brand Area -------------*/


/*************tid****************/
#tid{
    vertical-align: middle;
    width: 80%;
    margin: auto;
}

#tid_list li{
    display: inline-block;
    list-style: none;
}

.text-center{
    text-align: center;
}

.area{
    padding-bottom: 50px;
}
.area button{
    border-radius: 0!important;
    text-align: left;
}

/*************end tid****************/

/*  ================================== */
        /*  End Body Styles */
/*  ================================== */


/* =================================== */
        /*  Footer Styles */
/* =================================== */
footer{
    background: black;
    color: #ffffff;
    padding: 0 30px 25px;
}

.footer-section{
    padding-top: 50px;
}

#copyright{
    margin-top: 25px;
}

.footer-area {
    background-color: #0f1a1a;
}

.single-footer-widget h4 {
    color: #fff !important;
    margin-bottom: 25px;
    font-weight: 500;
}

.single-footer-widget .form-control {
    border: none;
    width: 80% !important;
    font-weight: 300;
    background: #f9f9ff;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    line-height: normal !important;
    color: #222;
}

.single-footer-widget .form-control:focus {
    box-shadow: none;
    color: #222;
}

.single-footer-widget ul li {
    margin-bottom: 10px;
}

.single-footer-widget ul li a {
    color: #777777;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-footer-widget ul li a:hover {
    color: #8490ff;
}

.single-footer-widget .bb-btn {
    /*color: #8490ff;*/
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    z-index: 9999;
    cursor: pointer;
}

.single-footer-widget .info {
    margin-top: 25px;
    color: #fff;
    font-size: 12px;
}

.single-footer-widget .info.valid {
    color: green;
}

.single-footer-widget .info.error{
    color: red;
}

.single-footer-widget .btn {
    font-size: 0.85rem;
    border-radius: 0;
    background: #8490ff;
    color: #fff;
}

.single-footer-widget .btn .lnr {
    line-height: inherit;
    font-size: 13px;
    padding: 0 4px;
}

.single-footer-widget ::-moz-selection {
    /* Code for Firefox */
    background-color: #191919 !important;
    color: #777777;
}

.single-footer-widget ::selection {
    background-color: #191919 !important;
    color: #777777;
}

.single-footer-widget ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777777;
    font-weight: 300;
}

.single-footer-widget :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

.single-footer-widget ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

.single-footer-widget :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300;
}

.single-footer-widget ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300;
}

@media (max-width: 991.98px) {
    .single-footer-widget {
        margin-bottom: 30px;
    }
}

.single-footer-widget .footer-social a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-footer-widget .footer-social a i {
    vertical-align: bottom;
    color: #fff;
}

.single-footer-widget .footer-social a:hover i {
    color: #8490ff;
}

.footer-bottom {
    padding-top: 50px;
}

.footer-bottom .footer-social {
    text-align: right;
}

@media (max-width: 991px) {
    .footer-bottom .footer-social {
        text-align: left;
        margin-top: 30px;
    }
}

.footer-bottom .lnr, .footer-bottom a {
    color: #8490ff;
}

.footer-text a {
    color: #8490ff;
}

/*-------- end footer Area -------------*/


/*==================responsive========================*/
@media (max-width: 1160px){

    .navbar-header nav ul li a{
        color: #FFFFFF;
    }

    #menu-navbar{
        background: #FFFFFF;
    }

    #logo-side{
        display: block;
        max-width: 200px;
        margin-left: -50px;
    }

    #close-menu{
        display: block;
        position: fixed;
        top:25px;
        right: 30px;
        float: right;
    }

    #side-menu ul {
        padding-bottom: 50px;
    }

    #side-menu ul li{
        display: block;
        width: 100%;
    }

    #back-shadow{
        position: fixed;
        z-index: 500;
        top:0;
        bottom: 0;
        right: 0;
        left:0;
        background: darkgrey;
        opacity: 0.7;
    }

    #side-menu{
        position:fixed;
        z-index:1000;
        width:250px;
        background: #3F3F3F;
        top:0;
        bottom:0;
        left:-251px;
        overflow-y: auto;
    }

    #mobile-nav-toggle{
       display: block;
    }

    #mobile-nav-toggle:hover{
        background-color: transparent!important;
        color:black;
    }

    #service-top, #home-about-left{
        text-align: center;
    }

    .banner-right{
        padding-top: 97px;
    }


}


@media (max-width: 768px){
    .img-fluid{
        display: none;
    }

    .img-fluid-responsive{
        display: block;
        width: 100px;
        margin: auto;
        padding-bottom: 20px;
    }

    .banner-left{
        display: none;
    }

    .banner-left h1{
        padding-top: 50px;
    }

    .intro_1{
        padding-top: 77px;
        padding-right:  50px;
        padding-left: 50px;
        display: block;
        top: 250px;
    }

    .trophy{
        padding-right: 20px;
        padding-left: 20px;
    }

}